<section class="relative container mx-auto bg-white flex flex-col items-center gap-12">
    <div class="self-end sm:self-center max-sm:pr-20 sm:-mr-32">
        <h4 class="text-3xl sm:text-4xl lg:text-5xl font-bold text-sitedark tracking-tight">One-Size-Fits-None</h4>
    </div>
    <div class="flex gap-8 w-full sm:w-3/4 sm:items-end">
        <div class="flex flex-col w-full sm:w-3/4 max-sm:items-center sm:items-end">
            <p class="bg-black/20 p-8 text-white font-lg text-center">
                Generating your daily power is only one part of the puzzle, even if it's a big one. Our consultants try to learn 
                what all the other pieces look like; sun exposure, the time you run laundry and AC, the number of people in your 
                home, vehicles you charge at night, and more. With all that in mind, they can show you options, incentives and tax implications,
                and the long-term impacts for each.
                <br><br>
                Everything after that is just paperwork.
            </p>
            <div class="flex self-end gap-4 items-center mt-2">
                <p class="text-xl font-black text-white">808-456-6254</p>
                <button class="bg-sitesecond text-white font-bold m-[2px] px-4 py-2 max-w-fit">Get a Quote</button>
            </div>
        </div>
        <%= image_tag 'happy.jpg', class:"absolute top-0 end-0 sm:right-0 w-full sm:w-1/4 h-[15dvh] sm:h-full object-cover" %>
    </div>
</section>