<section class="relative h-[90dvh] w-full">
    <%= video_tag(["iehhero.mp4"], :class => "h-full w-full object-cover", :autoplay => true, :loop => true, :muted => true) %>
    <div class="flex w-full h-full z-10 absolute top-0 left-0 bg-black/40">
      <div class="flex p-2 items-center absolute top-2 right-2">
        <%= image_tag 'svg/marks/namefull.svg', class:"h-6 lg:h-12" %>
        <%= image_tag 'svg/marks/transp1.svg', class:"h-6 lg:h-14 rounded" %>
      </div>
      <section class="container ml-4 md:mx-auto flex flex-col justify-between py-8 ">
        <h4 class="text-slate-100 font-extrabold text-3xl xs:text-4xl sm:text-5xl lg:text-6xl tracking-tight leading-8 
        text-center xs:text-start xl:w-5/12 mt-8 md:whitespace-nowrap pt-24 sm:pt-0">
          Locally owned. <br>
          Guaranteed prices.<br>
          Zero compromises.
        </h4>
        <div class="self-center xs:self-start w-5/6 md:w-1/2 lg:w-5/12">
          <p class="md:text-xl text-white font-semibold leading-5 sm:leading-7 bg-black/40 p-4 rounded-md mt-2">
            We make repairs, upgrades, and new systems built around your needs, with dependable hardware from top brands.<br>
            No fine print* needed.
            <br><br>
            Over 7,000 families and businesses served since 2013.
          </p>
          <div class="flex self-end gap-4 max-sm:justify-between items-center mt-2">
            <h4 class="flex flex-col sm:flex-row text-slate-100 font-extrabold text-xl md:text-2xl sm:text-3xl lg:text-4xl tracking-tight"><span>(808)</span> <span>456-6254</span></h3>
            <button>Get a quote today</button>
          </div>
        </div>
      </section>
    </div>
  </section>