<section data-controller="chart" class="w-full bg-sitemain">
    <div class="container mx-auto flex flex-col gap-4 pt-4">
      
      <div class="xl:w-5/12 flex flex-col justify-evenly gap-2">
        <h2 class="ml-4 sm:ml-0 text-sitelight">What Does Your Power Cost?</h2>
        <div class="flex flex-col sm:flex-row justify-center items-center gap-2">
          <input type="range" id="chartlymonth" name="monthly" min="150" max="600" step="10" data-chart-target="slider" data-action="input->chart#setValues" class=""/>
          <label for="monthly" class="text-white font-black text-xl">$<span data-chart-target="slideval">400</span> Monthly</label>
        </div>
        
      </div>

      <div class="w-full shadow-lg">
        <div class="h-[50vh] w-full xl:w-5/12">
          <canvas id="monthlypowerchart" aria-label="Cost of electricity over time" role="img"></canvas>
        </div>
        <div id="chartbot" class="sm:hidden bg-gray-300 w-full xl:w-5/12 -mt-2 text-center text-lg font-black font-montserrat">Years</div>
      </div>

      <div class="flex items-center w-full xl:w-5/12 px-12 py-4 text-white font-lg font-bold text-start">
        <p class="z-30">In 2018, fuels for power generation <%= link_to 'were over half of all imports to Hawaii.', "https://energy.hawaii.gov/wp-content/uploads/2020/11/HSEO_FactsAndFigures-2020.pdf#page=3", target: :_blank, class: "text-blue-500 underline" %>
          Our municipal power here costs about double the national average as a result of how we make it.
          <br><br>
          A single person pays roughly $150 per month, while a family averages $400. <br>
          <%= link_to "See your rate at HECO's site.", "https://www.hawaiianelectric.com/billing-and-payment/rates-and-regulations/average-price-of-electricity", target: :_blank, class: "text-blue-500 underline" %> 
        </p>
      </div>
    </div>
</section>