<section class="bg-white w-full pb-12">
    <div class="container mx-auto flex justify-center gap-12 mb-12">
        <div class="w-1/2 flex items-center justify-evenly gap-12">
            <div>
                <p>
                    
                </p>
            </div>
            
        </div>
        <div class="w-1/4 h-[60vh]">
            <h4 class="text-3xl sm:text-4xl lg:text-5xl font-bold text-sitedark tracking-tight">Our Approach</h4>
        </div>
    </div>
</section>