<section class="bg-white w-full pb-12">
    <div class="container mx-auto flex justify-center gap-12 mb-12">
        <div class="w-1/4 h-[60vh] bg-img-happy max-xl:bg-left-offset xl:bg-center"></div>
        <div class="w-1/2 flex flex-col justify-evenly gap-4">
            <h2 class="text-sitedark">Our Approach</h2>
            <div class="flex flex-col">
                <p class="px-8 text-sitedark font-semibold text-start">
                    <span class="font-bold text-lg">The power you use is only part of the puzzle.</span> 
                    <br><br>
                    Our consultants focus on the other pieces, like use patterns, your location's impact, and most importantly, what you want.
                    With that information, and access to a wide range of suppliers, we can show you the most cost-effective options for lower bills,
                    battery backup, or complete grid independence. 
                    <br><br>
                    We handle permits and applications, install at your convenience, 
                    monitor your system performance afterwards, and we are always available if you need warranty or repair service.
                    <br><br>
                    In 2013 we set out to be a one-stop solar company that our neighbors could trust, and that's just what we've done. Our core 
                    philosophy is to waste nothing and be a good neighbor, the business will take care of itself.
                </p>
                <div class="flex gap-4 items-center m-8">
                    <button class="bg-sitesecond text-white font-bold px-4 py-2 max-w-fit">Get a Quote</button>
                    <p class="text-xl font-black text-sitedark">808-456-6254</p>
                </div>
            </div>
        </div>
    </div>
</section>