<section role="region" aria-labelledby="review-title" class="bg-sitepale w-full relative pb-8">
    <h2 id="review-title" class="text-sitedark">Our Reviews</h2>
    <div class="container mx-auto min-h-fit rbord">
        <div class="flex flex-col md:flex-row gap-4 tbord" data-controller="swap"></div>
            <div class="w-full md:w-5/12 flex gbord">
                <input type="button" value="Previous" data-action="swap#previous">
                <div class="flex flex-col gap-2 bg-gradient-to-b from-slate-200 to-slate-400 p-2 leading-5">
                    <div data-swap-target="review1">
                        <h4>Name</h4>
                        <p class="text-center">
                            readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for
                        </p>
                    </div>
                    <div class="hidden" data-swap-target="review2">
                        <h4>Name</h4>
                        <p class="text-center">
                            readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for
                        </p>
                    </div>
                    <div class="hidden" data-swap-target="review3">
                        <h4>Name</h4>
                        <p class="text-center">
                            readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for
                        </p>
                    </div>
                    <div class="hidden" data-swap-target="review4">
                        <h4>Name</h4>
                        <p class="text-center">
                            readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for
                        </p>
                    </div>
                </div>
                <input type="button" value="Next" data-action="swap#next">
            </div>
            <div class="p-4 w-1/4 h-40">
                <%= image_tag 'svg/houses/h3.svg', class:"w-full h-full", data: { swap_target: "house1" } %>
                <%= image_tag 'svg/houses/h4.svg', class:"w-full h-full hue-rotate-30 hidden", data: { swap_target: "house2" } %>
                <%= image_tag 'svg/houses/h5.svg', class:"w-full h-full hue-rotate-90 hidden", data: { swap_target: "house3" } %>
                <%= image_tag 'svg/houses/h6.svg', class:"w-full h-full hue-rotate-180 hidden", data: { swap_target: "house4" } %>
            </div>
        </div>
    </div> 
</section>