<section class="w-full bg-gradient-to-br from-sitelight via-sitesecond to-sitethird relative min-h-96 py-12 shadow-xl">
    <ul class="container mx-auto flex flex-col md:flex-row justify-center items-center gap-4 text-lg text-slate-100 font-semibold h-full"> 
      <li class="w-5/6 md:w-1/4 z-50 p">
        <div class="flex flex-col gap-2 m-2 bg-black/40 rounded p-4">
          <h3 class="text-center">New Solar</h3>
          <p>
            Once you approve a design, we handle everything from permits to power on. We stand behind our work with full guarantees and long warranties.
          </p>
        </div>
      </li>
      <li class="w-5/6 md:w-1/4 z-50">
        <div class="flex flex-col gap-2 m-2 bg-black/40 rounded p-4">
          <h3 class="text-center">Upgrades</h3>
          <p>
            When your life grows, we can help your system keep up. 
            <br>
            With just a few small changes, you can often avoid major replacements.
          </p>
        </div>
      </li>
      <li class="w-5/6 md:w-1/4 z-50">
        <div class="flex flex-col gap-2 m-2 bg-black/40 rounded p-4">
          <h3 class="text-center">Service</h3>
          <p>
            20 years is a long time on any rooftop.
            <br>
            If your system is showing it's age, we handle warranty and other service on all kinds of solar systems.
          </p>
        </div>
      </li>
    </ul>
  </section>