<p>
    We’ve become one of the largest solar installation and repair providers in Hawaii, but it all started with one truck and a small workshop in Kaka’ako back in 2004. Since then, we’ve installed thousands of solar systems and repaired even more. We are always improving our process and researching new products to provide the state-of-the-art in solar technology.

We focus on designing long-lasting, durable systems that will go the distance and provide the best value to our customers. With good planning solar power can pay for itself over time, so we build around your needs to ensure that it won’t need expansion in the future. The modular systems we use also make expansion less expensive if your needs change in the future, they essentially allow you to add batteries whenever you like just by plugging them in.

We have hardware that we prefer today, but we’ve had several over the years, and it changes as solar panel and battery technology improves. So, we don’t specialize, we install a wide variety of systems from different manufacturers for different needs and we service all of it. Out reputation lives on rooftops all across Hawaii, and we stand behind our work with warranty service and repairs performed by experience, local professionals.

We follow the same philosophy in our design and repair work, sustainability is great for your wallet. Whether your efficiency is falling for some reason, or you have a major fault, we can find the problem and get your power functioning again with as little modification and part replacement as possible.

We are locally based here in Honolulu and you will find some resources here about solar power but feel free to contact us with your specific questions. Our friendly consultants are always available to help and a site visit to look over your system is totally free of charge.
</p>