<p>
    We love designing new systemes for homes, we can pick and choose the best parts and system layout for your needs, rooftop and budget.

Our first consultation will revolve around what you want, then we’ll start doing the math. Sunlight exposure, average and peak power use, patterns of use like what times you typically run AC and laundry, everything will be taken into account to build a custom system that meets your needs.

We handle all the permits and approvals, then install your system within just a few months. You don’t need to do anything except flip the switch when we finish.

Afterwards, we provide warranty service and repairs, if needed, so you’re never left without power and wondering who to call. The monitoring software that comes with our battery systems keeps you informed of your system health and lets you know if you your system isn’t keeping up with demand.

Modern systems are fully modular, and filling the gap may be as simple as plugging in another battery, upgrading components, or adding a panel. Since we install all kinds of systems, we can do all of this as well, no matter what brands you might have installed.
</p>