<h2>Net Energy Metering Upgrades</h2>
<p>
Having worked with thousands of NEM customers on Oahu, SolarTech can guide you through your choices for upgrading a Net Energy Metering system.

An NEM Agreement with HECO grants you credits for any power that you send back to the grid. However, there are specific rules and regulations that you must take care to comply with. Especially when you decide you need more solar PV production at your home.

This may be due to an aging solar PV system or increased energy consumption at your home. Either way,  we will clearly outline your options  and provide comprehensive pricing estimates to help you choose the upgrade option that is best for you and your family. 

In many cases, SolarTech Industries solutions will be substantially lower cost than other solar contractors. We go directly to our suppliers to save as much of your money as we can.
</p>

<h2>Enphase Upgrades</h2>
<p>
If you currently have Enphase microinverters installed you may be eligible for an upgrade. SolarTech Industries can help guide you through the steps and procedures and make sure that your upgrade goes smoothly. 

Your existing inverters will need to be removed and replaced, new wiring will need to be installed and the new inverters will need to be configured correctly.

The resulting upgrade could result in a higher net output of AC power from your solar PV system. The upgrade will also result in a new 25-year warranty on each new inverter. Finally, the inverter upgrade could also make your solar PV system compatible with the new Enphase Ensemble battery storage system that would provide your home with power regardless of grid power….the first truly ‘grid agnostic’ solar PV & Battery system.

If you currently have string inverters installed as part of your solar PV system and wish to upgrade to microinverters for more energy efficiency and longer life/warranty, SolarTech Industries is here to help.
</p>

<h2>Panel Upgrades</h2>
<p>
Is the power production of your existing solar PV panels much lower than it used to be? Is your system 8-10 years old and your HECO bill has been steadily getting higher over the last 1-2 years? 

It may be time for a solar panel upgrade. We offer free inspection of your existing panels, batteries, rooftop, and metering hardware so you can get a clear picture of your system’s condition and make an informed choice.

Whether your HECO bill just keeps growingr, you feel unsure of how much power your current  system is producing, or you’re experiencing system failures, give us a call for a free assessment.
</p>

<h2>String Inverter Upgrades</h2>
<p>
 Like all electrical components, string inverters have a limited life span.  String inverters will usually connect with between 6-12 solar PV panels and if a single string inverter fails, you will lose the solar production of all the solar panels that are connected to it. 

Regardless of your current inverter status; whether it is a failure, decrease production, or new solar PV capabilities that you seek, SolarTech Industries can provide you with an evaluation, straightforward explanations, and reasonable pricing for upgrades that are best for you.
</p>