<p>
  SolarTech is proud to be the first with Enphase in providing the most comprehensive energy management and battery storage solutions here in Hawaii. The Ensemble system is an integrated solution SolarTech Industries provides that outperforms all other solar battery solutions.. 

It is the first battery system to work natively with microinverters, the first system designed to work with or without grid power, and the first to integrate a generator connection directly into the Enpower smart switch, providing unparalleled flexibility and power longevity.

The Enphase system uses modular battery packs so you can customize your storage. Adding more battery capacity with Encharge 10TM or Encharge3TM storage units in the future is seamless and simple. If you have considered other battery solutions, the Enphase system provides many advantages and stands alone as the most comprehensive solar storage and management system. Contact us today to see how an Ensemble battery solution can bring simplicity and safety into your home. 
</p>

<h2>Batteries</h2>
<div>
  <h3>Encharge 10</h3>
  <p>
    The Encharge 10™ all-in-one AC-coupled storage system, comprised of three base Encharge 3™ storage units, provides a total usable energy capacity of 10.1kWh and twelve embedded grid-forming microinverters. Connect multiple Encharge 10 storage systems to maximize backup potential for whole home backup.
  </p>
  <h3>Encharge 3</h3>
  <p>
    The The Encharge 3™ all-in-one AC-coupled storage system provides a total usable energy capacity of 3.4kWh and four embedded grid-forming microinverters. It provides great flexibility in starting small and adding incremental capacity.
  </p>
</div>

<h2>Power Management</h2>
<div>
  <h3>Enpower Smart Switch</h3>
  <p>
    The Enpower™ smart switch connects the home to grid power, the Encharge storage system and PV. It provides microgrid interconnection device (MID) functionality by automatically detecting and seamlessly transitioning the system from grid power to backup power in the event of a grid failure.
  </p>
  <h3>IQ Combiner Series</h3>
  <p>
    The IQ™ combiner consolidates interconnection equipment into a single enclosure and streamlines PV and storage installations by providing a consistent, pre-wired solution for residential applications. Install the new communication kit in any IQ combiner to enable wireless communication with Encharge and Enpower. Installation of the cellular modem is required unless already present in the IQ combiner. This ensures the best performance of your system.
  </p>
</div>