<p>
A powerful monitoring program is included with every Ensemble battery system and can be accessed right from your phone or computer.  It serves two main purposes, to help diagnose equipment problems when they come up, and to track the performance of your system as a whole over time. 

Monitoring your system this way removes all the guesswork around service later on. You can make decisions based on what’s actually happening in your home, with your rooftop and your battery. Every address is different, even if you have perfectly average sun exposure, your power use patterns will be unique, and your panels will age differently.

Anything can affect your daily power usage, from the weather and number of house guests to sports seasons and school vacations. It’s important to know if your system is keeping up with your needs, so it tracks your panel output, battery charge, power use, the time you use that power, battery charge levels, and more to give you a complete picture.

Even if you don’t use it, we do. We’ll let you know if there’s a problem with your system, or if you need a small panel or battery update to cover all your power needs. If you need help accessing or using your monitoring system we are always available to help. Our technicians will help you look at the cost/benefit of upgrading to cover your total usage.
</p>