<h2>Why use Solar Power?</h2>
<p>
We’ve just seen the closure of the last coal power plant in Hawaii, and that’s partially thanks to the widespread adoption of rooftop solar over recent years. The grid just doesn’t need to do everything anymore. Switching to renewable energy is the most direct way you can reduce your carbon footprint and help preserve the environment.

All that said, most people do it because they want to eliminate their power bill.  The efficiency of modern panels and batteries is getting better fast. As long as the sun is out, you can power more than you think. If you add a battery, you only need the grid power for emergencies and house guests.

A solar PV panel system can also help increase the value of your property dramatically. Things like car-charging ports, battery systems, and high-quality panels with good warranties all contribute.

With tax write-offs, benefit programs, and rapidly falling prices, switching to solar has never been more affordable than it is now. Being able to purchase and install your PV panels for less also means a quicker return on your investment. We deal with all the paperwork.

Considering power savings, incentives, tax rebates, and increases to your property value, installing solar panels and batteries has become one of the soundest investments you can make, as long as the sun keeps coming out.
</p>

<h2>How does Solar Power work?</h2>
<p>
Solar Panels are made from a few different materials, but the most important is a thin layer of silicon. The radiation from the sun excites the silicon’s electrons, and with a little clever wiring you can tap into this to get a DC charge out of the other end.

We have to convert that DC charge into AC electricity that can power all the things you use at home. That is where the inverter comes in, it’s usually located somewhere inside the property, and connects your DC panels into your AC home electrical circuit.

We do rely on the sun being up, and there are going to be times where you have more power than you need or not enough. That’s why most solar PV systems are connected to the power grid.

We hook in to the HECO power meter and record all incoming and outgoing electricity. You only pay for the power you actually take from the grid, and your system will send extra power back for a credit on your power bill.

If you also have battery storage, you can charge that up before sending power back to the grid. Batteries are getting better and cheaper all the time, and our partners at Enphase provide state-of-the-art, modular battery  systems that are tailored to your specific power needs.
</p>