@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-slate-100 font-extrabold text-4xl sm:text-5xl lg:text-6xl tracking-tight text-center;
  }

  h2 {
    @apply text-slate-100 text-3xl sm:text-4xl lg:text-6xl font-extrabold tracking-tight;
  }

  h3 {
    @apply text-slate-100 text-xl sm:text-2xl lg:text-4xl font-extrabold tracking-tight;
  }

  h5 {
    @apply text-slate-100 font-bold text-4xl sm:text-5xl lg:text-6xl tracking-tight;
  }

  button {
    @apply bg-gradient-to-br from-sitelight to-sitesecond text-xl font-bold m-[2px] px-4 py-2 max-w-fit;
  }
}

@layer components {

  .responsive {
    @apply bg-sky-500 xs:bg-teal-300 sm:bg-green-500 md:bg-yellow-500 lg:bg-orange-500 xl:bg-red-500;
  }

  .bgreen {
    @apply bg-green-500;
  }

  .borange {
    @apply bg-orange-500;
  }

  .bg-img-happy {
    background-image: url( 'happy.jpg' );
    background-size: cover;
  }

  .bg-left-offset {
    background-position-x: 40%;
  }

  .banner-newsolar {
    object-position: 25% 75%;
  }
  
  .banner-quote {
    object-position: 50% 50%;
  }
}